@using AspNet.Mvc.Grid
@model InventoryManagerWebsite.Models.Invoice.InvoiceSearchViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="width: 800px; text-align: center">
    @using (@Html.BeginForm("Search", "Transfer", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.SelectedInvoiceId)
        <div class="row">
            <div class="col-sm-12 subtitle">
                Receiving
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 input-group">
                @Html.TextBoxFor(x => x.InvoiceSearchText, new Dictionary<string, object> { { "placeholder", "Enter your search term" }, { "class", "form-control input-lg" } })
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 40px">
            @if (Model.Invoices != null && Model.Invoices.Any())
            {
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align:center">Invoice ID</th>
                            <th scope="col" style="text-align:center">Invoice Type</th>
                            <th scope="col" style="text-align:center">Created</th>
                            <th scope="col" style="text-align:center"># Items</th>
                            <th scope="col" style="text-align:center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var invoice in Model.Invoices)
                        {
                            <tr style="cursor:pointer" onclick="SelectInvoice(@invoice.Id)">
                                <td>@invoice.Id</td>
                                <td>@invoice.InvoiceType</td>
                                <td>@invoice.CreationDate.ToShortDateString()</td>
                                <td>@invoice.TotalItems</td>
                                <td>@invoice.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
</div>

@section Scripts
{
    <script src="~/Scripts/Transfer/search.js"></script>
}