@using AspNet.Mvc.Grid
@model InventoryManagerWebsite.Models.Transfer.InvoiceSearchModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="width: 800px; text-align: center">
    @using (@Html.BeginForm())
    {
        @Html.HiddenFor(x => x.SelectedInvoiceId)
        <div class="row" style="font-size: x-large; font-weight: bold">
            Receiving
        </div>
        <div class="col-sm-12 form-group" style="text-align: center">
            @Html.LabelFor(x => x.InvoiceSearchText, "Search")
            @Html.TextBoxFor(x => x.InvoiceSearchText, new Dictionary<string, object> { { "style", "width:100%" }, { "class", "receiving-search-box form-control input-lg" } })
        </div>
        <div class="row" style="width: 800px">
        <hr style="width: 100%" />
        @if (Model.Invoices != null && Model.Invoices.Any())
        {
            @Html.Grid(Model.Invoices).Columns(cb =>
            {
            cb.For(p => p.Id).Named("Invoice ID").HeaderAttributes(new Dictionary<string, object> {{"style", "text-align:center"}}).Sortable(false);
            cb.For(p => p.InvoiceType).Named("Invoice Type").HeaderAttributes(new Dictionary<string, object> {{"style", "text-align:center"}}).Sortable(false);
            cb.For(p => p.CreationDate.ToShortDateString()).Named("Created").HeaderAttributes(new Dictionary<string, object> {{"style", "text-align:center"}}).Sortable(false);
            cb.For(p => p.TotalItems).Named("# Items").HeaderAttributes(new Dictionary<string, object> {{"style", "text-align:center"}}).Sortable(false);
            cb.For(p => p.Status).Named("Status").HeaderAttributes(new Dictionary<string, object> { { "style", "text-align:center" } }).Sortable(false);
        }).Attributes(@class => "table table-hover")
        }
        </div>
    }
</div>

@section Scripts
    {
    @*<script src="~/Scripts/Transfer/receive.js"></script>*@
}