<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/toastr.css")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        @Html.ActionLink("Hank's Propane & Propane Accessories", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarProductRoot" role="button" data-toggle="dropdown">
                        Products
                    </a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Product Search", "Lookup", "Product", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("New Product", "New", "Product", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item">@Html.ActionLink("Purchase Orders", "Index", "PurchaseOrder", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Receiving", "Search", "Transfer", null, new { @class = "nav-link" })</li>
                @*<li class="nav-item">@Html.ActionLink("Product Reporting", "Product", "Report", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Transfer Reporting", "Transfer", "Report", null, new { @class = "nav-link" })</li>*@
            </ul>
        </div>

    </nav>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/toastr.js")
    @RenderSection("scripts", required: false)
    @if ((string)TempData["ToastType"] == "Success")
    {
        <script type="text/javascript">toastr["success"]("@TempData["Toast"]")</script>
    }
    else if((string) TempData["ToastType"] == "Error")
    {
        <script type="text/javascript">toastr["error"]("@TempData["Toast"]")</script>
    }
</body>
</html>
